<!DOCTYPE html>
<ion-view id="page0" hide-nav-bar="true">
    <ion-content padding="true" class="manual-ios-statusbar-padding" scroll="false" style="background-color: #ccc; background-image: url('img/login_fundo_quadrado_2.jpg'); background-size: cover;">
        <div class="spacer" style="height: 40%;"></div>
        <div>
            <img src="img/logo_splash.png" width="45%" height="auto" style="display: block; margin-left: auto; margin-right: auto;" id="imgLogo">
        </div>
        <div class="bar bar-footer" style="background:transparent;">
            <div class="title">
                <button class="button button-large" onclick="ionic.Platform.exitApp()" style="background-color: #9E9E9E; color:#fff;">
                    <i class="icon icon-left ion-log-out"></i> Fechar
                </button>
                <button class="button tda-btn-energized button-large" ng-click="carregarEventos()">
                    Continuar <i class="icon icon-right ion-log-in"></i>
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>