<ion-view id="page2">
    <ion-nav-bar class="bar-stable">
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-arrow-left-c" ng-click="carregarLogin()"></button>
        </ion-nav-buttons>
		<ion-nav-title class="title">{{cadastro}}</ion-nav-title>
	</ion-nav-bar>
    <ion-content padding="true" class="has-header" style="background: #eeeeee">
        <form id="cadastro-form1" class="list" name="cadastroForm">
            <div class="list">
                <label class="item item-input item-floating-label">
                    <span class="input-label">Nome</span>
                    <input type="text" placeholder="Digite seu nome completo" ng-required="true" ng-model="inscrito.nome" name="nome">
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Email</span>
                    <input type="email" placeholder="Digite seu email" ng-required="true" ng-model="inscrito.email" name="email">
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Senha</span>
                    <input type="password" placeholder="Digite sua senha" ng-required="true" ng-model="inscrito.senha1" name="senha1">
                </label>

                <label class="item item-input item-floating-label">
                    <span class="input-label">Confirmar Senha</span>
                    <input type="password" placeholder="Confirme sua senha" ng-required="true" ng-model="inscrito.senha2" name="senha2">
                </label>
                <label class="item item-select" id="cadastro-select1">
                    <span class="input-label">Estado</span>
                    <select ng-required="true" ng-model="inscrito.estado" name="estado">
                        <option ng-hide="true">Selecione um Estado</option>
                    </select>
                </label>
                <label class="item item-select" id="cadastro-select2">
                    <span class="input-label">Cidade</span>
                    <select ng-required="true" ng-model="inscrito.cidade" name="cidade">
                        <option ng-hide="true">Selecione uma Cidade</option>
                    </select>
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Celular</span>
                    <input type="tel" placeholder="Digite seu celular" ng-required="true" ng-model="inscrito.celular" name="celular">
                </label>
            </div>
            <div class="spacer" style="height: 5px;"></div>
            <div ng-show="cadastroForm.email.$invalid && cadastroForm.email.$dirty" class="ion-alert-circled" style="color: #ff0000; text-align: center;">
                Campo email é inválido!
            </div>
            <div ng-show="cadastroForm.senha1.$error.required && cadastroForm.senha1.$dirty" class="ion-alert-circled" style="color: #ff0000; text-align: center;">
                Campo senha é inválido!
            </div>
            <div ng-show="cadastroForm.senha2.$error.required && cadastroForm.senha2.$dirty && cadastroForm.senha2 != cadastroForm.senha1"
                class="ion-alert-circled" style="color: #ff0000; text-align: center;">
                Campo confirma senha é inválido!
            </div>
            <div ng-show="cadastroForm.estado.$error.required && cadastroForm.estado.$dirty" class="ion-alert-circled" style="color: #ff0000; text-align: center;">
                Campo senha é inválido!
            </div>
            <div ng-show="cadastroForm.cidade.$error.required && cadastroForm.cidade.$dirty" class="ion-alert-circled" style="color: #ff0000; text-align: center;">
                Campo senha é inválido!
            </div>
            <div class="spacer" style="width: 300px; height: 18px;"></div>
            <button ng-disabled="cadastroForm.$invalid" ui-sref="login" id="cadastro-button4" style="border-radius:9px 9px 9px 9px;"
                class="button tda-btn-energized  button-block" ng-click="cadastrarUsuario(inscrito)">Confirmar Cadastro</button>
        </form>
        <div id="cadastro-button-bar1" class="button-bar"></div>
    </ion-content>
</ion-view>