<!DOCTYPE html>
<ion-view id="page8">
    <ion-nav-bar class="bar-stable">
        <ion-nav-buttons side="left">
            <button class="button button-icon ion-arrow-left-c" ng-click="carregarInicio()" style="background-color: transparent;"></button>
        </ion-nav-buttons>
        <ion-nav-title class="title">{{comprovantes}}</ion-nav-title>
        <ion-nav-buttons side="right">
            <button class="button button-icon" style="background-color: transparent;"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content padding="true" class="has-header" style="background: #eeeeee">
        <form id="comprovantes-form9" class="list">
            <label class="item item-select" id="comprovantes-select8">
        <span class="input-label">Eventos: </span>
        <select>
          <option ng-hide="true">Selecione o Evento</option>
        </select>
      </label>
        </form>
        <button id="comprovantes-button15" class="button tda-btn-energized  button-block">Gerar Comprovante</button>
    </ion-content>
</ion-view>