<ion-view title="Comprovantes" id="page6" name="comprovantes">
  <ion-content padding="true" class="has-header">
    <form id="comprovantes-form9" class="list">
      <label class="item item-select" id="comprovantes-select8">
        <span class="input-label">Eventos: </span>
        <select>
          <option>Selecione o Evento</option>
        </select>
      </label>
    </form>
    <button id="comprovantes-button15" class="button tda-btn-energized  button-block">Gerar Comprovante</button>
  </ion-content>
</ion-view>