<!DOCTYPE html>
<ion-view id="page7">
    <ion-nav-bar class="bar-stable">
        <ion-nav-buttons side="left">
            <button class="button button-icon ion-arrow-left-c" ng-click="carregarInicio()" style="background-color: transparent;"></button>
        </ion-nav-buttons>
        <ion-nav-title class="title">{{eventos}}</ion-nav-title>
        <ion-nav-buttons side="right">
            <button class="button button-icon" style="background-color: transparent;"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content padding="true" class="has-header" style="background: #eeeeee">

    </ion-content>
</ion-view>