<ion-view title="Início" hide-back-button="true" id="page3" name="inicioPage">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-android-notifications"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div class="list card">
      <div class="item item-avatar">
        <img src="img/tb5Oy03fQ16v3yLJxSDw_logo_splash.png">
        <h2 style="margin-top: 10px" id="inicioPageNomeInscrito"></h2>
        <p id="inicioPageEmailInscrito"></p>
      </div>
      <div class="item item-body">
        <img class="full-image" src="img/tb5Oy03fQ16v3yLJxSDw_logo_splash.png">
        <p>
          This is a "Facebook" styled Card. The header is created from a Thumbnail List item, the content is from a card-body consisting
          of an image and paragraph text. The footer consists of tabs, icons aligned left, within the card-footer.
        </p>
        <p>
          <a href="#" class="subdued">1 Like</a>
          <a href="#" class="subdued">5 Comments</a>
        </p>
      </div>
    </div>
  </ion-content>
</ion-view>