<ion-view title="Inscreva-se" id="page5" name="inscrevasePage">
  <ion-content padding="true" class="has-header" style="background: #eeeeee">
    <form id="inscrevaSe-form8" class="list">
      <label class="item item-select" id="inscrevaSe-select4">
        <span class="input-label">Eventos:</span>
        <select>
          <option ng-hide="true">Selecione um evento</option>
        </select>
      </label>
      <label class="item item-select" id="inscrevaSe-select5">
        <span class="input-label">Categoria: </span>
        <select>
          <option ng-hide="true">Selecione uma categoria</option>
        </select>
      </label>
    </form>
  </ion-content>
</ion-view>