<!DOCTYPE html>
<ion-view id="page6">
    <ion-nav-bar class="bar-stable">
        <ion-nav-buttons side="left">
            <button class="button button-icon ion-arrow-left-c" ng-click="carregarInicio()" style="background-color: transparent;"></button>
        </ion-nav-buttons>
        <ion-nav-title class="title">{{inscrevaSe}}</ion-nav-title>
        <ion-nav-buttons side="right">
            <button class="button button-stable" style="background-color: transparent;"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content padding="true" class="has-header" style="background: #eeeeee">
        <form id="inscrevaSe-form8" class="list">
            <label class="item item-select" id="inscrevaSe-select4">
        <span class="input-label">Eventos:</span>
        <select>
          <option ng-hide="true">Selecione um evento</option>
        </select>
      </label>
            <label class="item item-select" id="inscrevaSe-select5">
        <span class="input-label">Categoria: </span>
        <select>
          <option ng-hide="true">Selecione uma categoria</option>
        </select>
      </label>
        </form>
    </ion-content>
</ion-view>