<ion-view title="Inscreva-se" id="page8">
  <ion-content padding="true" class="has-header">
    <form id="inscrevaSe-form8" class="list">
      <label class="item item-select" id="inscrevaSe-select4">
        <span class="input-label">Eventos :</span>
        <select>
          <option>Selecione um evento</option>
        </select>
      </label>
      <label class="item item-select" id="inscrevaSe-select5">
        <span class="input-label">Categoria: </span>
        <select>
          <option>Selecione uma categoria</option>
        </select>
      </label>
      <ion-item class="item-divider" id="inscrevaSe-list-item-divider2"> Selecione as Atividade/Extras em que deseja participar</ion-item>
    </form>
  </ion-content>
</ion-view>