<ion-view title="Perfil" hide-back-button="true" id="page4">
    <ion-content padding="true" class="has-header">
        <form id="perfil-form6" class="list">
            <div class="card">
                <div class="item item-avatar badge-calm">
                    <img src="img/tb5Oy03fQ16v3yLJxSDw_logo_splash.png">                    
                    <h2 style="margin-top: 10px" id="nomeInscrito"></h2>
                    <p id="emailInscrito"></p>
                </div>
            </div>
            <label class="item item-input" id="perfil-input13">
                <span class="input-label">Nome:</span>
                <input type="text" placeholder="Digite seu nome" ng-required="true" ng-model="inscrito.nome">
                <span class="assertive" ng-show="inscrito.nome.$invalid && inscrito.nome.$dirty">Campo Obrigatório!</span>
            </label>
            <label class="item item-input" id="perfil-input14">
                <span class="input-label">CPF:</span>
                <input type="text" placeholder="Digite seu CPF">
            </label>
            <label class="item item-input" id="perfil-input15">
                <span class="input-label">RG:</span>
                <input type="text" placeholder="Digite seu RG">
            </label>
            <label class="item item-select" id="perfil-select1">
                <span class="input-label">Sexo:</span>
                <select>
                    <option>Selecione o sexo</option>
                </select>
            </label>
            <label class="item item-select" id="perfil-select2">
                <span class="input-label">Estado:</span>
                <select>
                    <option>Selecione o estado</option>
                </select>
            </label>
            <label class="item item-select" id="perfil-select3">
                <span class="input-label">Cidade:</span>
                <select>
                    <option>Selecione o cidade</option>
                </select>
            </label>
            <label class="item item-input" id="perfil-input18">
                <span class="input-label">Inst/Emp:</span>
                <input type="text" placeholder="Instituição/Empresa">
            </label>
            <button id="perfil-button8" style="border-radius:9px 9px 9px 9px;" class="button tda-btn-energized button-block">Salvar Alterações</button>
            <div class="spacer" style="width: 300px; height: 10px;"></div>
        </form>
    </ion-content>
</ion-view>