<!DOCTYPE html>
<ion-view id="page4">
    <ion-nav-bar class="bar-stable">
        <ion-nav-buttons side="left">
            <button class="button button-icon ion-arrow-left-c" ng-click="carregarInicio()" style="background-color: transparent;"></button>
        </ion-nav-buttons>
        <ion-nav-title class="title">{{perfil}}</ion-nav-title>
        <ion-nav-buttons side="right">
            <button class="button button-stable" style="background-color: transparent;"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content padding="true" class="has-header" style="background-image: url('img/fundo_perfil.jpg'); background-size: cover;">
        <form id="perfil-form6" class="list" name="formPerfilInscrito">
            <div class="spacer" style="height: 50px;"></div>
            <div class="card">
                <div class="tda-img-float">
                    <img class="tda-img-redondo" src="img/user_male.png" id="idIconPerfil">
                </div>
                <button type="button" id="idEdtPefil" style="margin-left: 85%; color: #FE7C00;" class="button button-icon icon ion-compose" ng-click="carregarEdtPerfil()">
				</button>
                <div class="spacer" style="height: 30px;"></div>
                <div class="list">
                    <div class="item item-icon-left">
                        <i class="icon ion-person" style="font-size: 25px"></i>
                        <h3 id="idNomeInsc">{{inscritos.nome}}</h3>
                    </div>
                    <div class="item item-icon-left">
                        <i class="icon ion-male" style="font-size: 25px" id="idIconSexo"></i>
                        <h3 id="idSexoInc">{{sexoAux}}</h3>
                    </div>
                    <div class="item item-icon-left">
                        <i class="icon ion-person-stalker" style="font-size: 25px"></i>
                        <h3 id="ies">{{inscritos.ies}}</h3>
                    </div>
                    <div class="item item-icon-left">
                        <i class="icon ion-card" style="font-size: 25px"></i>
                        <h3 id="rg">{{inscritos.rg}}</h3>
                    </div>
                    <div class="item item-icon-left">
                        <i class="icon ion-card" style="font-size: 25px"></i>
                        <h3 id="cpf">{{inscritos.cpf}}</h3>
                    </div>
                    <div class="item item-icon-left">
                        <i class="icon ion-location" style="font-size: 25px"></i>
                        <h3 id="estado">{{inscritos.cidade}} - {{inscritos.uf}}</h3>
                    </div>
                    <div class="item item-icon-left">
                        <i class="icon ion-ios-telephone" style="font-size: 25px"></i>
                        <h3 id="idCelularInc">{{inscritos.celular}}</h3>
                    </div>
                </div>
            </div>
        </form>
    </ion-content>
</ion-view>